<section class="color_black">
    <article>
        <h1 class="padding20px">{{titulo}}</h1>
        <p class="textop">{{conteudo}}</p>
    </article>
    <hr>
    <h4 class="padding20px">Comentarios</h4>
    <hr>
    <article >
            {% if comentarios == false %}
                <p id="mensagem">Nenhum comentário encontrado para essa pagina!!</p>
            {% else %}
                {% for comentario in comentarios %}
                    <h3 class="padding20px">{{comentario.nome}}</h3>
                    <p class="textop">{{comentario.mensagem}}</p>
                {% endfor %}
            {% endif %}
    </article>
    <article>
        <form action="#" method="POST">
            <textarea name="comentar"  cols="80" rows="2" placeholder="Comentar:"></textarea>
        </form>
    </article>
</section>